body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    background-color: #1a282f;
    color: #babcbe;
    width: 70%;
    margin: auto;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    margin: 20px;
}

.soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.soon h1 {
    font-size: 50px;
    font-weight: bold;
    color: #9c59b6;
}

.soon p {
    font-size: 25px;
    font-weight: bold;
    color: #b1b1b1;
}

.soon a {
    color: #b1b1b1;
    text-decoration: none;
    font-size: 25px;
    margin-top: 20px;
}

.soon a:hover {
    color: #9c59b6;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 40px;
    padding: 10px;
}

.navbar img {
    width: 70px;
    height: 70px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 40px;
    margin-left: auto;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
}

.navbar a:hover {
    color: #9c59b6;
}

.content {
    margin: 20px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 100%;
    color: #b1b1b1;
}

.content .bot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.content .bot h1 {
    color: #ffffff;
    text-align: left;
    font-size: 50px;
    margin: 0px;
}

.content .bot p {
    font-size: 30px;
}

.content .bot button {
    background-color: #9c59b6;
    font-size: 25px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    margin-right: 20px;
    font-weight: bold;
}

.content .bot button:hover {
    background-color: #7f3b8e;
}

.content .bot a {
    color: #b1b1b1;
    text-decoration: none;
    font-size: 25px;
}

.content .bot a:hover {
    color: #9c59b6;
}

.content .example {
    display: flex;
    justify-content: space-between;
    place-items: center;
    margin: 100px;
    width: 60%;
}

.content .example img {
    width: 100%;
    height: auto;
}

.stats {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    margin: 20px;
    margin-top: 150px;
    border-radius: 10px;
    background-color: #2d3f47;
    padding: 10px 140px;
}

.stats .container {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 20px;
}

.stats .container p1 {
    font-size: 50px;
    font-weight: bold;
    color: #9c59b6;
}

.stats .container p2 {
    font-size: 25px;
    font-weight: bold;
    color: #b1b1b1;
}

.features {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
    margin: 20px;
    margin-top: 150px;
    padding: 10px 140px;
}

.features h1 {
    font-size: 50px;
    font-weight: bold;
    color: #9c59b6;
}

.features p1 {
    font-size: 25px;
    font-weight: bold;
    color: #b1b1b1;
}

.footer {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px;
    margin-top: 150px;
    padding: 10px 400px;
}

.footer a {
    color: #b1b1b1;
    text-decoration: none;
}

.footer a:hover {
    color: #9c59b6;
}

