{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="navbar">
        <img src="{% static 'main/logo.png' %}">
        <h1>AutoVox</h1>
        <div class="container">
            <a href="{% url 'invite' %}">Invite</a>
            <a href="{% url 'docs' %}">Docs</a>
            <a href="{% url 'status' %}">Status</a>
            <a href="{% url 'support' %}">Support</a>
            <a href="{% url 'dashboard' %}">Dashboard</a>
        </div>
    </div>
    <div class="content">
        <div class="bot">
            <h1>AutoVox</h1>
            <p>AutoVox is a powerful Discord bot designed to simplify server management and enhance community engagement, letting you focus on what matters most..</p>
            <div class="buttons">
                <button id="invite">Invite</button>
                <a href="#features" id="features-link">Features</a>
            </div>
        </div>
        <div class="example">
            <img src="{% static 'main/example.png' %}">
        </div>
    </div>
    <div class="stats">
        <div class="container">
            <p1>{{ users }}</p1>
            <p2>Users</p2>
        </div>
        <div class="container">
            <p1>{{ servers }}</p1>
            <p2>Servers</p2>
        </div>
        <div class="container">
            <p1>{{ commands }}</p1>
            <p2>Commands</p2>
        </div>
    </div>
    <div class="features" id="features">
        <h1>Features</h1>
        <p1>Soon...</p1>
    </div>
    <div class="footer">
        <p>&copy; 2024 AutoVox</p>
        <a href="{% url 'privacy' %}">Privacy Policy</a>
        <a href="{% url 'terms' %}">Terms of Service</a>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        document.getElementById('invite').addEventListener('click', () => {
            window.location.href = '{% url 'invite' %}';
        });
        document.getElementById('features-link').addEventListener('click', (event) => {
            event.preventDefault();
            document.getElementById('features').scrollIntoView({ behavior: 'smooth' });
        });
    </script>
{% endblock %}